body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background-color: slateblue;
}

.calendar-container {
    overflow: hidden;
    background-color: white;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.month-name {
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.day-name {
    font-size: 20px;
    color: darkgray;
}

.day-number {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.year {
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}